.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.one{
  flex: 25%;
  /* text-align: right; */
}

.two {
  flex: 75%;
}

.formlabel {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.btn{
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.btn1{
  background-color: black;
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #466447;
}
.btn1:hover {
  background-color: #657d66;
}
.text{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.add{
  height: 100px;
  width: 300px;
}